* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
.game {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
    .game .header{
        height: 15vmin;
        width: 80vmin;
        font-size: 10vmin;
        box-sizing: border-box;
    }
    .game .field {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 80vmin;
        width: 80vmin;
    }
        .game .field .cell {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 18vmin;
            width: 18vmin;
            margin: 1vmin;
            border: 2px solid gray;
            box-sizing: border-box;
            border-radius: 2vmin;
            font-size: 10vmin;
            background: white;
            opacity: 0.95;
            background-image: none;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: transparent;
        }
        .game .field .cell[nuclearPowerPlant="2"] {
            background-image: url(../img/2.png);
        }
        .game .field .cell[nuclearPowerPlant="4"] {
            background-image: url(../img/4.png);
        }
        .game .field .cell[nuclearPowerPlant="8"] {
            background-image: url(../img/8.png);
        }
        .game .field .cell[nuclearPowerPlant="16"] {
            background-image: url(../img/16.png);
        }
        .game .field .cell[nuclearPowerPlant="32"] {
            background-image: url(../img/32.png);
        }
        .game .field .cell[nuclearPowerPlant="64"] {
            background-image: url(../img/64.png);
        }
        .game .field .cell[nuclearPowerPlant="128"] {
            background-image: url(../img/Unbioctium-128.png);
        }
        .game .field .cell[nuclearPowerPlant="256"] {
            background-image: url(../img/256.png);
        }
        .game .field .cell[nuclearPowerPlant="512"] {
            background-image: url(../img/512.png);
        }
        .game .field .cell[nuclearPowerPlant="1024"] {
            background-image: url(../img/1024.png);
        }
        .game .field .cell[nuclearPowerPlant="2048"] {
            background-image: url(../img/2048.png);
        }
